* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


.main-container {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.f {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftpart {
    width: 40%;

}

h1 {
    color: rgb(56, 106, 255);
    font-size: 60px;
    margin-bottom: 20px;
    

}

h3 {
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.rightpart {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    padding: 0 30px;
    background-color: #fff;
    max-width: 450px;
    height: 370px;
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.1),
        10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

input {
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: rgb(39, 118, 255);
    color: white;
    cursor: pointer;
}
.fogot{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    color: rgb(39, 118, 255);
    
}

hr {
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px 0px;
}

.createaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(25, 161, 77);
    width: 260px;
    height: 50px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

span {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 15px;
}
.details{
    display: flex;
    align-items: center;
    
}
.details a{
    text-decoration: none;
}
@media (max-width: 950px) {
    .container {
        flex-direction: column;

    }

    .leftpart {
        width: 100%;

        font-size: 30px;
    }

    .rightpart {
        width: 100%;
        margin-top: 40px;
    }

    h1 {
        font-size: 60px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }




}
